html,
body {
  font-family: "Lucida Sans", sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 8px;
}

:root {
  --gray: darkslateblue;
}

[class*="col-"] {
  float: left;
}

.row {
  flex: 1;
}

.menu {
  list-style-type: none;
  display: inline;
}

.menu li {
  padding: 15px;
  border-top: 3px solid var(--gray);
  border-left: 3px solid var(--gray);
  border-right: 3px solid var(--gray);
  font-size: 22px;
  font-weight: 600;
}

.menu li:last-child {
  border-bottom: 3px solid var(--gray);
}

.aside {
  border: 3px solid var(--gray);
  margin-top: 16px;
  text-align: center;
}

.aside p:not(:last-child) {
  border-bottom: 3px solid var(--gray);
  padding-bottom: 20px;
}

.header {
  border: 3px solid var(--gray);
  color: var(--gray);
  font-size: 20px;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}

.content {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
}

.footer {
  margin-top: 30px;
  border: 3px solid var(--gray);
  padding: 15px;
  text-align: center;
}

@media screen and (min-width: 512px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.33%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.33%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
